.sidebar {
    min-width: 300px;
    padding: 20px;
}

.profile-img {
    border-radius: 50%;
    max-width: 100%;
}

.list {
    list-style: none;
    line-height: 2.2em;
    margin: 0;
    padding: 0;
}

.list-item .fa {
    margin-right: 5px;
    width: 20px;
    text-align: center;
}

.link {
    text-decoration: none;
    color: blue;
    border-bottom: 1px solid transparent;
    transition: border-color 0.5s;
}

.link:hover {
    border-color: blue;
}

.button {
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.5s;
}

.button:hover {
    background-color: darkgreen;
    color: #fff;
}